fastapi
uvicorn
pydantic
python-multipart
requests
requests-oauthlib
supabase==2.2.1
pillow>=10
google-cloud-vision
python-dotenv
opencv-python==4.8.1.78
pytesseract==0.3.10
scikit-learn==1.3.0
easyocr==1.7.0
